<div class="wrapper container-fluid">
  <div class="inner">
    <form class="form"  [formGroup]="formFilm" (ngSubmit)="update(this.formFilm.value.id,this.formFilm.value)">
      <h3><b>Sửa Thông Tin Phim</b></h3>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="1">Chọn File Image <span>(*)</span></label>
          <div class="form-holder">
            <input style="color: gray" type="file" id="1"  (change)="showPreview($event)">
          </div>
        </div>
        <div class="form-wrapper">
          <label for="2">Tên Phim <span>(*)</span></label>
          <div class="form-holder">
            <i class="zmdi zmdi-account-o"></i>
            <input  type="text" id="2" class="form-control" formControlName="name" placeholder="Mời nhập tên phim">
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('name').hasError('required')&&
            formFilm.get('name').dirty">
            This field cannot be left blank
          </div>
        </div>

      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="3">Nhà Sản Xuất <span>(*)</span></label>
          <div class="form-holder">
            <i style="font-style: normal; font-size: 15px;"></i>
            <input  type="text" id="3" class="form-control" formControlName="director" placeholder="Mời nhập nhà sản xuất">
          </div >
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('director').hasError('required')&&
            formFilm.get('director').dirty">
            This field cannot be left blank
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('director').hasError('pattern') &&
          formFilm.get('director').dirty">
            name actor must be correct for example: Nguyen Van A,..."
          </div>



        </div>
        <div class="form-wrapper">

          <label for="10">Diễn Viên Nam <span>(*)</span></label>
          <div class="form-holder ">
            <input  id="10" type="text" class="form-control" formControlName="actor" placeholder="Mời nhập diễn viên chính">
            <i class="zmdi zmdi-pin"></i>
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('actor').hasError('required')&&
            formFilm.get('actor').dirty">
            This field cannot be left blank
          </div>
          <div class="mb-3 text-danger"
               *ngIf="formFilm.get('actor').hasError('pattern') &&
          formFilm.get('actor').dirty">
            name actor must be correct for example: Nguyen Van A,..."
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="4">Ngày Khởi Chiếu <span>(*)</span></label>
          <div class="form-holder">
            <i class="zmdi zmdi-lock-outline"></i>
            <input  type="date" id="4" class="form-control" formControlName="startDate">
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('startDate').hasError('required')&&
            formFilm.get('startDate').dirty">
            This field cannot be left blank
          </div>
        </div>
        <div class="form-wrapper">
          <label for="5">Ngày Kết thúc <span>(*)</span></label>
          <div class="form-holder">
            <i class="zmdi zmdi-lock-outline"></i>
            <input  id="5" type="date" class="form-control" formControlName="endDate">
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('endDate').hasError('required')&&
            formFilm.get('endDate').dirty">
            This field cannot be left blank
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="e" >Phòng Chiếu<span>(*)</span></label>
          <input  class="form-control" list="datalistOption" id="e" placeholder="Mời nhập phòng chiếu" formControlName="studio">
          <datalist id="datalistOption" >
            <option value="PC-01">
            <option value="PC-02">
            <option value="PC-03">
            <option value="PC-04">
          </datalist>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('studio').hasError('required')&&
            formFilm.get('studio').dirty">
            This field cannot be left blank
          </div>
        </div>


        <div class="form-wrapper">
          <label for="7">Thời lượng phim <span>(*)</span></label>
          <div class="form-holder ">
            <i class="zmdi zmdi-face"></i>
            <input  id="7" type="text" class="form-control" formControlName="duration" placeholder="Mời nhập thời lượng">
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('duration').hasError('required')&&
            formFilm.get('duration').dirty">
            This field cannot be left blank
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="8">Phiên Bản <span>(*)</span></label>
          <input class="form-control" list="phong" id="8" placeholder="Mời chọn phiên bản" formControlName="version" >
          <datalist id="phong" >
            <option value="2D">
            <option value="3D">

          </datalist>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('version').hasError('required')&&
            formFilm.get('version').dirty">
            This field cannot be left blank
          </div>
        </div>

        <div class="form-wrapper">
          <label for="t" > Trailer <span>(*)</span></label>
          <div class="form-holder ">
            <input id="t" type="text" class="form-control" formControlName="trailer" placeholder="Mời nhập trailer">
            <i class="zmdi zmdi-pin"></i>
          </div>
          <div class="mt-2 text-danger"
               *ngIf="formFilm.get('trailer').hasError('required')&&
            formFilm.get('trailer').dirty">
            This field cannot be left blank
          </div>

        </div>
      </div>

      <div class=" form-wrapper">
        <div class="row">
          <label>Thể Loại Phim <span>(*)</span></label>
          <div class="col-lg-12">
<!--            <div *ngFor="let Type of filmTypeNew" >-->
              <ul class="menu">
                <li  style="color: gray; margin-left: 53px" *ngFor="let filmType of fimTypeList " >{{filmType.name}}
                  <input (change)="onChangeFood($event.target.value)" [value]="filmType.name" type="checkbox">
<!--                         [checked]="Type.name == formFilm.controls.filmType.value.name" -->

                </li>
              </ul>
<!--            </div>-->

          </div>
        </div>
      </div>


      <div class="mt-2 text-danger"
           *ngIf="formFilm.get('filmType').hasError('required')&&
            formFilm.get('filmType').dirty">
        This field cannot be left blank
      </div>
      <div class="form-end">
        <div class="button-holder">
          <a  [routerLink]="['/film/list-film-test']" >
            <button type="submit" style="margin-right: 145px" class="button-holder">Quay Lại</button>
          </a>
        </div>
        <div class="button-holder">
          <button type="submit">Xác Nhận</button>
        </div>

      </div>
    </form>
  </div>
</div>


