<div class="wrapper container-fluid">
  <div class="inner">
    <form class="form" action="" [formGroup]="formFilm" (ngSubmit)="create(formFilm.value)">
      <h3>Thêm Mới Phim</h3>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="1">Chọn File Image <span>(*)</span></label>
          <div class="form-holder">
            <!--                        <i style="font-style: normal; font-size: 15px;"></i>-->
            <input type="file" id="1" formControlName="image">
          </div>
        </div>
        <div class="form-wrapper">
          <!--                    <label>Hình Ảnh:</label>-->
          <!--                    <div class="form-holder">-->
          <!--                        <i class="zmdi zmdi-account-o"></i>-->
          <!--                        &lt;!&ndash;                        <input type="text" class="form-control">&ndash;&gt;-->
          <!--                        <img src="" alt="">-->
          <!--                    </div>-->
        </div>

      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="2">Tên Phim <span>(*)</span></label>
          <div class="form-holder">
            <i class="zmdi zmdi-account-o"></i>
            <input type="text" id="2" class="form-control" formControlName="name" placeholder="Mời nhập tên phim">
          </div>
<!--          <p>sai định dạng</p>-->
        </div>
        <div class="form-wrapper">
          <label for="3">Nhà Sản Xuất <span>(*)</span></label>
          <div class="form-holder">
            <i style="font-style: normal; font-size: 15px;"></i>
            <input type="text" id="3" class="form-control" formControlName="director" placeholder="Mời nhập nhà sản xuất">
          </div>
<!--          <p>sai định dạng</p>-->
        </div>
      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="4">Ngày Khởi Chiếu <span>(*)</span></label>
          <div class="form-holder">
            <i class="zmdi zmdi-lock-outline"></i>
            <input type="date" id="4" class="form-control" formControlName="startDate">
          </div>
<!--          <p>sai định dạng</p>-->
        </div>
        <div class="form-wrapper">
          <label for="5">Ngày Kết thúc <span>(*)</span></label>
          <div class="form-holder">
            <i class="zmdi zmdi-lock-outline"></i>
            <input id="5" type="date" class="form-control" formControlName="endDate">
          </div>
<!--          <p>sai định dạng</p>-->
        </div>
      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="e" >Phòng Chiếu<span>(*)</span></label>
          <input class="form-control" list="datalistOption" id="e" placeholder="Mời nhập phòng chiếu" formControlName="studio">
          <datalist id="datalistOption" >
            <option value="PC-01">
            <option value="PC-02">
            <option value="PC-03">
            <option value="PC-04">
          </datalist>
        </div>
<!--          <p>sai định dạng</p>-->

        <div class="form-wrapper">
          <label for="7">Thời lượng phim <span>(*)</span></label>
          <div class="form-holder ">
            <i class="zmdi zmdi-face"></i>
            <input id="7" type="text" class="form-control" formControlName="duration" placeholder="Mời nhập thời luọng">

          </div>
<!--          <p>sai định dạng</p>-->
        </div>
      </div>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="8">Phiên Bản <span>(*)</span></label>
          <input class="form-control" list="phong" id="8" placeholder="Mời chọn phiên bản" formControlName="studio" >
          <datalist id="phong" >
            <option value="2D">
            <option value="3D">

          </datalist>
<!--          <p>sai định dạng</p>-->
        </div>
        <div class="form-wrapper">
          <label for="t" > Trailer <span>(*)</span></label>
          <div class="form-holder ">
<!--            <select id="PC" class="form-control" formControlName="">-->
<!--              <option value="PC001">PC001</option>-->
<!--              <option value="PC002">PC002</option>-->
<!--              <option value="PC003" >PC003</option>-->
<!--            </select>-->
            <input id="t" type="text" class="form-control" formControlName="trailer" placeholder="Mời nhập trailer">
            <i class="zmdi zmdi-pin"></i>
          </div>
<!--          <p>sai định dạng</p>-->
        </div>
      </div>
<!--      <div class="form-group form-wrapper">-->
<!--        <div class="container-fluid" style="margin-bottom: 15px">-->
<!--          <div >-->
<!--            <div >-->
<!--              <div class="row">-->
<!--                <div class="col-12">-->
<!--                  <div class="row">-->
<!--                    <label>Thể Loại Phim <span>(*)</span></label>-->
<!--                    <div class="col-lg-3">-->
<!--                      <ul class="menu">-->
<!--                        <li>Hành Động:<input type="checkbox"></li>-->
<!--                        <li>Viễn Tưởng:<input type="checkbox"></li>-->
<!--                        <li>Hoạt Hình:<input type="checkbox"></li>-->
<!--                        <li>Võ thuật:<input type="checkbox"></li>-->
<!--                        <li>Hài HƯớc:<input type="checkbox"></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3">-->
<!--                      <ul class="menu">-->
<!--                        <li >Kinh Điển:<input type="checkbox"></li>-->
<!--                        <li >Lãng Mạn:<input type="checkbox"></li>-->
<!--                        <li >Kiếm hIệp:<input type="checkbox"></li>-->
<!--                        <li >Phiêu Lưu:<input type="checkbox"></li>-->
<!--                        <li >Tâm Lý:<input type="checkbox"></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3">-->
<!--                      <ul class="menu">-->
<!--                        <li >Chiến Tranh:<input type="checkbox"></li>-->
<!--                        <li >Tình Cảm:<input type="checkbox"></li>-->
<!--                        <li >Kinh Dị:<input type="checkbox"></li>-->
<!--                        <li >Âm Nhạc:<input type="checkbox"></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="form-group">
        <div class="form-wrapper">
          <label for="10">Diễn Viên Nam <span>(*)</span></label>
          <div class="form-holder ">
            <input id="10" type="text" class="form-control" formControlName="actor" placeholder="Mời nhập diễn viên chính">
            <i class="zmdi zmdi-pin"></i>
          </div>
<!--          <p>sai định dạng</p>-->
        </div>

        <div class="form-wrapper">
          <label for="11">Flag Delete<span>(*)</span></label>
          <input class="form-control" list="FlagDelete" id="11" placeholder="Mời chọn trang thái phim" formControlName="studio" >
          <datalist id="FlagDelete" >
            <option value="0">Đang Tồn Tại
            <option value="1">Đã xóa
          </datalist>
<!--          <p>sai định dạng</p>-->
        </div>


      </div>

      <div class="form-wrapper">
        <label for="exampleDataList" >Thể Loại Phim<span>(*)</span></label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Mời chọn thể loại  phim" formControlName="filmType">
        <datalist id="datalistOptions" >
          <option *ngFor="let filmType of fimTypeList">{{filmType.name}}</option>
        </datalist>
      </div>
      <div class="form-end">
        <div class="button-holder">
          <button style="margin-right: 110px">Quay Lại</button>
        </div>
        <div class="button-holder">
          <button>Thêm Phim</button>
        </div>

      </div>
    </form>
  </div>
</div>
