@font-face {
  font-family:"Inter", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


body {
  font-family: "Muli-Regular";
  color: #666;
  font-size: 13px;
  margin: 0; }

input, textarea, select, button {
  font-family: "Muli-Regular";
  color: #333;
  font-size: 13px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.inner {
  max-width: 850px;
  margin: 20px 260px 20px 260px;
  background: darkorange;
  padding: 7px; }

form {
  border: 1px solid #d3cccc;
  /*padding: 62px 65px 64px; }*/
  padding: 40px 55px 40px 55px; }

h3 {
  text-transform: uppercase;
  font-size: 35px;
  font-family: "Abril_Fatface";
  text-align: center;
  margin-bottom: 48px;
  color: #F27507;
  letter-spacing: 3px; }

.form-group {
  display: flex; }
.form-group .form-wrapper {
  width: 50%; }
.form-group .form-wrapper:first-child {
  margin-right: 40px; }

.form-wrapper {
  margin-bottom: 27px; }
.form-wrapper label {
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-family: "Muli-Bold"; }

.form-holder {
  position: relative; }
.form-holder i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  font-size: 17px;
  color: #999; }

.form-control {
  border: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 20px 0 46px;
  color: #999;
  font-size: 15px; }
.form-control::-webkit-input-placeholder {
  font-size: 17px;
  transform: translateY(5px);
  color: #999; }
.form-control::-moz-placeholder {
  font-size: 17px;
  transform: translateY(5px);
  color: #999; }
.form-control:-ms-input-placeholder {
  font-size: 17px;
  transform: translateY(5px);
  color: #999; }
.form-control:-moz-placeholder {
  font-size: 17px;
  transform: translateY(5px);
  color: #999; }

.select::after {
  content: "\f2f9";
  font-family: Material-Design-Iconic-Font;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  font-size: 15px;
  color: #999; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
select option[value=""][disabled] {
  display: none; }

button {
  border: none;
  float: right;
  width: 152px;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ea9f48;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f98805;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
button:hover::before, button:active::before, button:focus::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.form-end {
  display: flex;
  align-items: center;
  margin-top: 13px; }

.button-holder {
  width: 50%; }

.checkbox {
  position: relative;
  width: 50%;
  padding-left: 22px; }
.checkbox label {
  cursor: pointer;
  color: #999;
  font-family: "Muli-SemiBold"; }
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }
.checkbox input:checked ~ .checkmark:after {
  display: block; }

.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder; }
.checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  content: '\f26b'; }

@media (max-width: 767px) {
  .wrapper {
    display: block; }

  form {
    padding: 0;
    border: none; }

  .form-group {
    display: block; }
  .form-group .form-wrapper {
    width: 100%; }
  .form-group .form-wrapper:first-child {
    margin-right: 0px; }

  .form-end {
    display: block; }

  .checkbox, .button-holder {
    width: 100%; }

  .inner {
    padding: 30px 15px; }

  button {
    float: none;
    margin-top: 30px; }

  h3 {
    font-size: 30px;
    margin-bottom: 40px; } }
select:focus {
  outline: none !important;
  border-color: #F2BB16;
  box-shadow: 0 0 10px #F2BB16;
}
input:focus {
  outline: none !important;
  border-color: #F2BB16;
  box-shadow: 0 0 10px #F2BB16;
}
textarea:focus {
  outline: none !important;
  border-color: #F2BB16;
  box-shadow: 0 0 10px #F2BB16;
}
span{
  color: red;
}

.menu li {
  position: relative;
  float: left;
  list-style: none;
  width: 20%;
}
.menu li input {
  position: relative;
  float: right;
  list-style: none;
  width: 20%;
}
body {
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: sans-serif;*/
  /*background: -webkit-linear-gradient(left, #F27507, #F2F2F2);*/
  /*background: linear-gradient(to right, #F27507, #F2F2F2);*/
  /*font-family: 'Roboto', sans-serif;*/
  /*background: Æ°;*/
}


.menu li:hover {
  background-color: lemonchiffon;
}


li {
  color: gray;
  margin-right: 15px;

}
.form{
  background-color:#ccc ;
}
.form-control{
  border-radius: 30px;
  border: #D94711;
}
#PC{
  border-radius: 50px;
  border: #D94711;
}
#NDF{
  border-radius: 10px;
  border: #D94711;
}
p{
  color: red;
}
label{
  color:gray ;
}

